.one{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.theone{
    margin: 10px;
}
.theone button{
width: 19%;
}
.two{
    position: relative;
}
.ball{
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0px;
    animation: moving 3s infinite linear;
}
@keyframes moving {
    0% {
      left: 0%;
    }
    50% {
      left: 90%;
    }
    100% {
      left: 0%;
    }
  }

  .bicycle{
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0px;
    animation: moving2 7s infinite linear;
    transform-origin: center center;

  }

  @keyframes moving2 {
    0% {
      left: 0%;
      transform: rotateY(0deg);
      transform-origin: left center;
    }
    25% {
      left: 45%;
      transform: rotateY(90deg);
      transform-origin: left center;
    }
    50% {
      left: 90%;
      transform: rotateY(180deg);
      transform-origin: left center;
    }
    75% {
      left: 45%;
      transform: rotateY(270deg);
      transform-origin: left center;
    }
    100% {
      left: 0%;
      transform: rotateY(360deg);
      transform-origin: left center;
    }
  }